html
    head
        title Pug example page
        body
            style.
            h1 #{table_name}
            h2 #{number}
            hr
            - for(let i =1; i < 10; i++) {
                p
                #multiple
                   #{number} X #{i} = #{number * i}
            - }
